<div><%= link_to('Sign out', {:action => 'log_in'}) %></div>
<div>
  <table>

    <tr>
      <td>
        <%= link_to('To-Do List', {:action => '##'}, :class => 'menu_module') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('Knowledge base', {:action => '##'}, :class => 'menu_module') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('CookBook', {:action => '##'}, :class => 'menu_module') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('News Feed', {:action => '##'}, :class => 'menu_module') %>
      </td>
    </tr>

  </table>
</div>